*~
*.swp
.idea
.idea/*
*.iml
*.ipr
*.iws
*.log
target
.DS_Store
.project
.classpath
.settings
eclipse-classes
test-data
*.releaseBackup
release.properties
local.properties
cov-int
*.tgz
.gradle
dependency-reduced-pom.xml

